{% extends 'base.html' %}

{% block content %}
    <h1 class="mb-5">Lista de todos los empleados</h1>

    <form class="d-flex mb-3 col-md-4" method="GET">{% csrf_token %}
        <input class="form-control me-3" id="kword" name="kword" type="search" placeholder="Buscar" aria-label="Buscar Empleado">
        <button class="btn btn-outline-primary text-nowrap" type="submit">Buscar</button>
    </form>
    <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Primer Nombre</th>
        <th scope="col">Segundo Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Departamento</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
    {% for elemento in empleados %}
      <tr>
        <td>{{ elemento.id }}</td>
        <td>{{ elemento.first_name }}</td>
        <td>{{ elemento.second_name }}</td>
        <td>{{ elemento.last_name }}</td>
        <td>{{ elemento.departamento.name }}</td>
        <td><a class="btn btn-outline-success" href="{% url 'persona_app:detalle_empleado' elemento.id %}" role="button">Ver</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if is_paginated %}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
        {% endif %}
        {% for pagina in paginator.page_range %}
            {% ifequal pagina page_obj.number %}
                <li class="page-item active"><a class="page-link" href="?page={{pagina}}">{{ pagina }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{pagina}}">{{ pagina }}</a></li>
            {% endifequal %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
        {% endif %}
    </ul>
  </nav>
  {% endif %}
{% endblock content%}