{% load static %}
<div class="col-md-6 mt-5">
    <div class="card text-white">
        <img src="{% static 'img/home/card-home-welcome.jpg' %}" height="250px" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="display-6 text-light">Bienvenido al Sistema de Registro de Empleados</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
        </div>
    </div>
</div>